.git/
.gitignore
.DS_Store
Chart.lock
README.md
README.gotmpl
docs/
.github/
.gitleaks.toml
.yamllint.yml
CODEOWNERS
CONTRIBUTING.md
LICENSE.md
Makefile
SECURITY.md
VERSION
*.swp
*.bak
*.tmp
*.orig
*~
.project
.idea/
.vscode/
